lightning_logs/
**/__pycache__/
huggingface/
outputs/
*checkpoints*
data/** 
*.png
**/cub-1.10.0/**
*.jpg
*.jpeg
*.gif
*.svg
*.webp
logs/*
*.out
*.ico
*.mp4
*.mp3
*.wav
*.pyc
*.bin
*.vscode
**/results/
**/checkpoints/
*.pt
*.pth
servers/
*.pkl
*.7z
*.json
*.jsonl
*.lock
*.log
*.err
*.safetensors
**/wandb/
*.js
*.java
*.txt
**/slurm*
*.zip
*.npz
*.npy
*.csv
*.json
*.pkl
*.pickle
*.joblib
*.joblib
*.mds
*.mdx
*.mdx
*.code-workspace
src/*
*.gz
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lzma
*.tar.lzma
scripts/*
code
*.sh
*.ply
*.ckpt
**/.requeue_links/**
**/my_secrets.yaml
downloaded_checkpoints/*
